<%= form_with url: root_path, method: :get do |f| %>
  <div style="display: flex;">
    <%= f.label :departure_airport, "Departure airport:" %>
    <%= select_tag(:departure_airport, options_for_select(@airports)) %>
    <%= f.label :arrival_airport, "Arrival airport:" %>
    <%= select_tag(:arrival_airport, options_for_select(@airports)) %>
    <%= f.label :departure_date, "Departure date:" %>
    <%= select_tag(:departure_date, options_for_select(@departure_dates)) %>
    <%= f.submit "Search" %>
  </div>
<% end %>