<%= form_with model: @booking do |f| %>
  <div><%= @flight.departure_airport.code %> ------------> <%= @flight.arrival_airport.code %></div>
  <div><%= @flight.departure_date %> at <%= @flight.departure_time %></div>
  <div>Flight id: <%= @flight.id %></div>
  <br>
  <%= f.hidden_field :flight_id, value: @flight.id %>

  Passengers:
  <ol>
    <%= f.fields_for :passengers do |passengers_form| %>
      <li>
        <%= passengers_form.label :name %>
        <%= passengers_form.text_field :name %>
        <br>
        <%= passengers_form.label :email %>
        <%= passengers_form.email_field :email %>
      </li>
      <br>
    <% end %>
  </ol>

  <%= f.submit "Book flight" %>
<% end %>