<h1>Booking #<%= @booking.id %></h1>

<div><%= @booking.flight.departure_airport.code %> ------------> <%= @booking.flight.arrival_airport.code %></div>
<div>On <%= @booking.flight.departure_date %> at <%= @booking.flight.departure_time %></div>
<br>
<div>Passengers:</div>
<ol>
  <% @booking.passengers.each do |passenger| %>
    <li><%= passenger.name %> (<%= passenger.email %>)</li>
  <% end %>
</ol>